<div class="container container_grey emphasize-dark curved_border">
<div class="row-fluid span5">

  <% if current_user and current_user.admin %>
  <p class="font_trebuchet_blk_25">Listing Orders</p>
</div>

<div class="span5"  style="margin-top:40px;">
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.name %></td>
    <td><%= order.email %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>

<p><%= will_paginate @orders %></p>
<% end %>
</div>

</div>
</div>
